html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("../images/christa-dodoo-485704-unsplash.jpg");
    background-color: #dcdcdc;
    background-size: cover;
    background-repeat: repeat-y;
    font-family: sans-serif;
    font-size: 12px;
    width: 100%;
    min-height: calc(100% - 40px);
    position: relative;
    padding-bottom: 40px;
}

.header {
    background-image: url("../images/noisy-texture-100x100-o5-d10-c-DCDCDC-t0.png");
    background-repeat: repeat;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #3b3b40;
    font-family: 'Play', sans-serif;
    font-weight: 200;
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.kontejner {
    margin: 5%;
    padding: 10px;
    background-image: url("../images/noisy-texture-100x100-o5-d10-c-DCDCDC-t0.png");
    background-repeat: repeat;
    opacity: 0.8;
    display: grid;
    grid-template-columns: 30px 80px 1fr 50px;
    grid-template-rows: 1fr 2fr 1fr 1fr 22px;
    grid-gap: 5px 5px;
}
.zabalany-kontejner {
    margin: 5%;
    padding: 10px;
    background-image: url("../images/noisy-texture-100x100-o5-d10-c-DCDCDC-t0.png");
    background-repeat: repeat;
    opacity: 0.8;
}

.kontejner-detail {
    /*margin: 5%;*/
    /*padding: 10px;*/
    /*background-image: url("../images/noisy-texture-100x100-o5-d10-c-DCDCDC-t0.png");*/
    /*background-repeat: repeat;*/
    /*opacity: 0.8;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 5px 5px;
}

.grid {
    align-self: center;
}

.hlavicka {
    font-weight: bold;
}

.hlavicka.id {
    grid-column: 1/2;
    grid-row: 1/2;
}

.hlavicka.jmeno {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 12px;
}

.hlavicka.telefon {
    grid-column: 2/3;
}

.hlavicka.email {
    grid-column: 2/3;
}

.id {
    grid-column: 1/2;
    grid-row: 2/3;
}

.jmeno {
    grid-column: 2/4;
    grid-row: 2/3;
    font-weight: bold;
}

.telefon {
    grid-column: 3/4;
    grid-row: 3/4;
}

.email {
    grid-column: 3/4;
    grid-row: 4/5;
}

.edit {
    grid-column: 2/3;
    grid-row: 5/6;
}

.smaz {
    grid-column: 3/4;
    grid-row: 5/6;
}

.tlacitko {
    display: flex;
    width: 45px;
    height: 20px;
    background: #3b3b40;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    font-size: 10px;
    text-decoration: none;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.tlacitko:hover {
    background-color: #5f5f67;
}

.detail-nadpis {
    text-align: center;
}

.detail-nadpis h2 {
    margin: 5px 0 10px 0;
    color: #3b3b40;
}

.hlavicka.jmeno-detail {
    grid-column: 1/2;
    grid-row: 1/2;
}

.hlavicka.telefon-detail {
    grid-column: 1/2;
    grid-row: 2/3;
}

.hlavicka.email-detail {
    grid-column: 1/2;
    grid-row: 3/4;
}

.jmeno-detail {
    grid-column: 2/4;
    grid-row: 1/2;
}

.telefon-detail {
    grid-column: 2/4;
    grid-row: 2/3;
}

.email-detail {
    grid-column: 2/4;
    grid-row: 3/4;
}

.uloz-detail {
    grid-column: 2/3;
    grid-row: 4/5;
}

.zpet-detail {
    grid-column: 3/4;
    grid-row: 4/5;
}

.footer {
    background-image: url("../images/noisy-texture-100x100-o5-d10-c-DCDCDC-t0.png");
    background-repeat: repeat;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
