<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/styles.css"
          th:href="${'css/styles.css'}"/>
    <link rel="icon" href="../static/images/favicon.png"
          th:href="${'images/favicon.png'}"/>
    <link href="https://fonts.googleapis.com/css?family=Play:700&amp;subset=latin-ext" rel="stylesheet">
    <title>Contact List</title>
</head>
<body>
    <!--/*@thymesVar id="listOfContacts" type="java.util.List<com.example.contacts.entity.Contact>"*/-->

    <div id="page">
        <div class="packaged-content">

            <!--Header-->
            <header id="header">
                <h1>Kontakty</h1>
            </header>

            <div class="packaged-container">
                <h3>Kontakt byl úspěšně vymazán</h3>
            </div>
        </div>

        <!--Footer-->
        <footer id="footer">
            <p>&copy; 2020, Petra Kubíčková</p>
        </footer>
    </div>
</body>


</html>
