<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/styles.css"
          th:href="${'css/styles.css'}"/>
    <link rel="icon" href="../static/images/favicon.png"
          th:href="${'images/favicon.png'}"/>
    <link href="https://fonts.googleapis.com/css?family=Play:700&amp;subset=latin-ext" rel="stylesheet">
    <title>Contact List</title>
</head>
<body>
    <!--/*@thymesVar id="contact" type="com.example.contacts.Contact"*/-->

    <div id="page">
        <div class="packaged-content">

            <!--Header-->
            <header id="header">
                <h1>Kontakty</h1>
            </header>

            <!--Section with form-->
            <form method="post">
                <div class="packaged-container">
                    <div class="detail-headline">
                        <h2>Detail kontaktu</h2>
                    </div>

                    <div class="container-detail">
                        <span class="grid header name-detail">Jméno</span>
                        <span class="grid header phone-number-detail">Telefon</span>
                        <span class="grid header email-detail">E-mail</span>

                        <span
                                class="grid name-detail"><input name="name" value="jméno"
                                                                th:value="${contact.name}"></span>
                        <span class="grid phone-number-detail"><input name="phoneNumber" value="telefonní číslo"
                                                                      th:value="${contact.phoneNumber}"></span>
                        <span class="grid email-detail"><input name="email" value="e-mail" th:value="${contact.email}"></span>

                        <td><input type="submit" value="ulož" class="button save-detail">
                        <a class="button back-detail" href="list.html">zpět</a></td>
                    </div>
                </div>
            </form>

        </div>

        <!--Footer-->
        <footer id="footer">
            <p>&copy; 2020, Petra Kubíčková</p>
        </footer>
    </div>
</body>


</html>
