<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/styly.css"
          th:href="${'css/styly.css'}"/>
    <link rel="icon" href="../static/images/favicon.png"
          th:href="${'images/favicon.png'}"/>
    <link href="https://fonts.googleapis.com/css?family=Play:700&amp;subset=latin-ext" rel="stylesheet">
    <title>Výchozí webová stránka | Java 2</title>
</head>
<body>
    <!--/*@thymesVar id="jedenKontakt" type="cz.czechitas.webapp.Kontakt"*/-->

    <div id="stranka">
        <div id="zabalenyObsah">

            <!--Hlavička stránky-->
            <header class="header">
                <h1>Kontakty</h1>
            </header>

            <!--Sekce s tabulkou-->
            <form method="post">
                <div class="zabalany-kontejner">
                    <div class="detail-nadpis">
                        <h2>Detail kontaktu</h2>
                    </div>

                    <div class="kontejner-detail">
                        <span class="grid hlavicka jmeno-detail">Jméno</span>
                        <span class="grid hlavicka telefon-detail">Telefon</span>
                        <span class="grid hlavicka email-detail">E-mail</span>

                        <span class="grid jmeno-detail"><input name="jmeno" value="jméno" th:value="${jedenKontakt.jmeno}"></span>
                        <span class="grid telefon-detail"><input name="telefonniCislo" value="telefonní číslo"
                        th:value="${jedenKontakt.telefonniCislo}"></span>
                        <span class="grid email-detail"><input name="email" value="e-mail" th:value="${jedenKontakt.email}"></span>

                        <td><input type="submit" value="ulož" class="tlacitko uloz-detail">
                        <a class="tlacitko zpet-detail" href="seznam.html">zpět</a></td>
                    </div>
                </div>
            </form>

        </div>

        <!--Patička-->
        <footer class="footer">
            <p>&copy; 2019, Petra Kubíčková</p>
        </footer>
    </div>
</body>


</html>
