<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/styly.css"
          th:href="${'css/styly.css'}"/>
    <link rel="icon" href="../static/images/favicon.png"
          th:href="${'images/favicon.png'}"/>
    <link href="https://fonts.googleapis.com/css?family=Play:700&amp;subset=latin-ext" rel="stylesheet">
    <title>Výchozí webová stránka | Java 2</title>
</head>
<body>
    <!--/*@thymesVar id="seznamKontaktu" type="java.util.List<cz.czechitas.webapp.Kontakt>"*/-->

    <div id="stranka">
        <div class="zabalenyObsah">

            <!--Hlavička stránky-->
            <header class="header">
                <h1>Kontakty</h1>
            </header>

            <div class="kontejner" th:each="jedenKontakt : ${seznamKontaktu}">
                <span class="grid hlavicka id">Id</span>
                <span class="grid hlavicka jmeno">Jméno</span>
                <span class="grid hlavicka telefon">Telefon</span>
                <span class="grid hlavicka email">E-mail</span>

                <span class="grid id" th:text="${jedenKontakt.id}">100</span>
                <span class="grid jmeno" th:text="${jedenKontakt.jmeno}">taťka Šmoula</span>
                <span class="grid telefon" th:text="${jedenKontakt.telefonniCislo}">+420 111 111 111</span>
                <span class="grid email" th:text="${jedenKontakt.email}">tatkasmoula@smoulivesnice.cz</span>

                <a class="tlacitko edit" th:href="${jedenKontakt.id} + '.html'"
                   href="detail.html">edit</a>
                <a class="tlacitko smaz" th:href="${jedenKontakt.id} + '/delete.html'"
                   href="delete.html">smaž</a>
            </div>

            <div class="kontejner" th:remove="all">
                <span class="grid hlavicka id">Id</span>
                <span class="grid hlavicka jmeno">Jméno</span>
                <span class="grid hlavicka telefon">Telefon</span>
                <span class="grid hlavicka email">E-mail</span>

                <span class="grid id">101</span>
                <span class="grid jmeno">Šmoulinka</span>
                <span class="grid telefon">+420 222 222 222</span>
                <span class="grid email">smoulinka@smoulivesnice.cz</span>

                <a class="tlacitko edit"
                   href="detail.html">edit</a>
                <a class="tlacitko smaz"
                   href="delete.html">smaž</a>
            </div>
            <div class="zabalene_tlacitko">
                <span><a class="tlacitko-novy-kontakt" th:href="${'new.html'}"
                         href="detail.html">Nový kontakt</a> </span>
            </div>
        </div>

        <div class="gap"></div>

        <!--Patička-->
        <footer class="footer">
            <p>&copy; 2020, Petra Kubíčková</p>
        </footer>
    </div>
</body>


</html>
